@import "tailwindcss";

 base {

  /* Tipografía */

  --font-sans: var(--font-poppins);

  /* Colores */

  --color-background: #F7F4EE;
  --color-surface: #FFFFFF;

  --color-text: #1F1F1F;
  --color-muted: #6E6A66;

  --color-primary: #1F4F73;
  --color-accent: #C8A35F;

}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--color-background);
  color:var(--color-text);
}

::selection{
  background:var(--color-primary);
  color:white;
}